spring:
  session:
    store-type: redis
    timeout: 30m
    redis:
      flush-mode: on_save
      save-mode: always

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:}

forylab:
  session:
    backend: Redis (Spring Session)
